name: Mirror to personal repo

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set git user
        run: |
          git config user.name "Labid Rahat"
          git config user.email "labidrahat1@gmail.com"

      - name: Mirror push to target repo
        env:
          PAT: ${{ secrets.MIRROR_PAT }}
        run: |
          # replace labidrahat/frontend-v1.git with your target repo
          git remote add mirror https://x-access-token:${PAT}@github.com/labidrahat/frontend-v1.git
          git push --mirror mirror
